[Unit]
Description=Corre zero-supabase-keepalive.service una vez al día

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
